In [5]:

#to include graphs next to the code
#useful libraries
import numpy as np #linear algebra
import math
import pandas as pd #data processing
from matplotlib import pyplot as plt  #plotting
import seaborn as sns #visualization

In [6]:
import pandas as pd 
import os

working_directory = os.getcwd()
print (working_directory)

/Users/marinakozevnikova

In [7]:
path = working_directory + '/Desktop/combined_csv_2dim.csv'
df_bonus = pd.read_csv(path)
df_bonus.head()

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
0,1415.0,0.855116,0,0.0,0,price,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
1,480.0,2.168422,0,0.0,0,price,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
2,480.0,2.168422,0,0.0,0,travelTime,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
3,1415.0,0.855116,0,0.0,0,travelTime,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
4,1415.0,0.855116,0,0.0,0,price,ptOnly,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen

In [8]:
print(df_bonus.describe()) #statistics

       totalTravelTimeInSec    totalPrice  totalNumberOfChanges  \
count          63069.000000  63069.000000          63069.000000
mean           14433.827776     48.187665              0.737129
std            10847.465254     37.042895              0.819787
min              424.000000      0.722167              0.000000
25%             7260.000000     19.088453              0.000000
50%            12378.000000     34.256017              1.000000
75%            18411.000000     75.538547              1.000000
max            89987.000000    362.740407              7.000000

       totalWalkingDistance  totalWaitingTime
count          63069.000000      63069.000000
mean               0.110031       1390.134313
std                0.193399       5029.043397
min                0.000000          0.000000
25%                0.000000          0.000000
50%                0.000000          0.000000
75%                0.173190          0.000000
max                0.964849      76630.000000

In [12]:
df_bonus.columns

Index(['totalTravelTimeInSec', 'totalPrice', 'totalNumberOfChanges',
       'totalWalkingDistance', 'totalWaitingTime', 'objective',
       'finiteAutomaton', 'consideredPreferences', 'finalSolutionUsedLabels',
       'sourceName', 'targetName'],
      dtype='object')

In [13]:
#11 columns and 63+thousands of rows
df_bonus.shape

(63069, 11)

In [14]:
data1 = df_bonus

In [15]:
#no missing values
data1.isna().sum()

totalTravelTimeInSec       0
totalPrice                 0
totalNumberOfChanges       0
totalWalkingDistance       0
totalWaitingTime           0
objective                  0
finiteAutomaton            0
consideredPreferences      0
finalSolutionUsedLabels    0
sourceName                 0
targetName                 0
dtype: int64

In [16]:
#the longest walking distance from the full set of observations?
data1['totalWalkingDistance'].max()

0.9648487205271404

In [17]:
#we do not need more than 3 decimal places for our distance precision as well as not more than 2 decimal places for our price indicator
data2=data1.round({'totalWalkingDistance': 3, 'totalPrice': 2})

In [18]:
data2.head()

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
0,1415.0,0.86,0,0.0,0,price,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
1,480.0,2.17,0,0.0,0,price,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
2,480.0,2.17,0,0.0,0,travelTime,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
3,1415.0,0.86,0,0.0,0,travelTime,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
4,1415.0,0.86,0,0.0,0,price,ptOnly,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen

In [19]:
# how many entries are there per mode restrictions (Finite Automation)?
data1['finiteAutomaton'].value_counts()

ptOnly       22539
noFlights    20418
all          20112
Name: finiteAutomaton, dtype: int64

In [20]:
# number of unique price values-full dataset
data1['totalPrice'].nunique()

3125

In [21]:
# we have only 33 unique route combinations per data set
data1['finalSolutionUsedLabels'].nunique()

33

In [22]:
#check all the SN available
data1.groupby(['sourceName']).groups.keys()

dict_keys(['Aachen', 'Berlin', 'Bochum', 'Bonn', 'Darmstadt', 'Dortmund', 'Duisburg', 'Düsseldorf', 'Erfurt', 'Essen', 'Gelsenkirchen', 'Hagen', 'Hamburg', 'Heidelberg', 'Karlsruhe', 'Köln', 'Leipzig', 'Mannheim', 'München', 'Nürnberg', 'Oberhausen', 'Solingen', 'Stuttgart', 'Ulm', 'Wuppertal', 'Würzburg'])

In [23]:
# get the maximum for the applied price per starting position
#the most expensive offer is to go from Erfurt
data2.groupby('sourceName')['totalPrice'].max()

sourceName
Aachen           170.29
Berlin            86.06
Bochum            34.98
Bonn             117.78
Darmstadt        107.51
Dortmund         232.15
Duisburg         307.38
Düsseldorf        99.53
Erfurt           362.74
Essen            326.42
Gelsenkirchen    235.05
Hagen            113.26
Hamburg          194.41
Heidelberg       206.17
Karlsruhe        152.25
Köln             189.06
Leipzig          203.02
Mannheim         209.53
München          208.76
Nürnberg         190.73
Oberhausen        94.76
Solingen         105.08
Stuttgart        142.20
Ulm              201.59
Wuppertal         86.41
Würzburg         152.75
Name: totalPrice, dtype: float64

In [24]:
#there are 5 records with the max price- always by railway- the lines are duplicating itself, data rows need to be cleaned
data2.loc[(data2['totalPrice'] == 362.74) & (data2['sourceName'].isin(['Erfurt']))]

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
32663,38100.0,362.74,1,0.0,60,waitingTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Erfurt,Köln
32671,38100.0,362.74,1,0.0,60,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Erfurt,Köln
32688,38100.0,362.74,1,0.0,60,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Erfurt,Köln
32689,38100.0,362.74,1,0.0,60,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Erfurt,Köln
32700,38100.0,362.74,1,0.0,60,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Erfurt,Köln

In [34]:
c = data2.groupby(['sourceName', 'targetName'])['totalPrice'].min()
# from Würzburg there are 22 cities that the traveler can visit with the unique itineraries, the cheapest one option is to Stuttgart
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(c)

sourceName     targetName
Aachen         Bochum           28.22
               Bonn             26.05
               Darmstadt        14.00
               Dortmund         29.91
               Duisburg         31.00
               Düsseldorf       24.47
               Essen            26.73
               Gelsenkirchen    27.59
               Hagen            34.31
               Heidelberg       36.73
               Köln             21.73
               Mannheim         36.73
               Oberhausen       29.19
               Solingen         26.00
               Stuttgart        41.73
               Wuppertal        31.66
               Würzburg         47.89
Berlin         Hamburg          14.11
               Leipzig          10.44
Bochum         Bonn             14.16
               Duisburg          4.00
               Gelsenkirchen     2.35
               Hagen             6.08
               Oberhausen        3.67
               Solingen         16.02
               Wuppertal        11.13
Bonn           Aachen           10.48
               Bochum           12.97
               Darmstadt        17.17
               Duisburg         15.74
               Gelsenkirchen    12.33
               Hagen            19.05
               Heidelberg       11.00
               Karlsruhe        16.02
               Mannheim         12.66
               Oberhausen       13.94
               Solingen         12.70
               Wuppertal        16.41
Darmstadt      Bonn             13.51
               Erfurt           22.00
               Gelsenkirchen    22.96
               Hagen            24.87
               Heidelberg        5.18
               Karlsruhe         9.92
               Mannheim          4.51
               Oberhausen       22.99
               Solingen         12.00
               Ulm              24.18
               Wuppertal        31.17
               Würzburg         12.18
Dortmund       Aachen           10.00
               Bochum            1.68
               Bonn             12.48
               Duisburg          5.68
               Erfurt           29.54
               Gelsenkirchen     2.49
               Hagen             4.40
               Hamburg          17.00
               Karlsruhe        21.02
               Mannheim         17.66
               Oberhausen        4.33
               Solingen         14.41
               Wuppertal        10.71
Duisburg       Solingen         11.85
Düsseldorf     Aachen            7.31
               Bochum            4.44
               Bonn              7.63
               Darmstadt        19.13
               Duisburg          4.90
               Gelsenkirchen     3.81
               Hagen            10.53
               Mannheim         18.31
               Oberhausen        3.05
               Osnabrück        14.58
               Solingen          5.94
               Wuppertal         9.76
               Würzburg         28.07
Erfurt         Bamberg          13.24
               Berlin           22.50
               Darmstadt        22.00
               Dortmund         30.50
               Düsseldorf       32.25
               Erlangen         16.68
               Hamburg          23.76
               Heidelberg       21.00
               Karlsruhe        26.02
               Köln             36.15
               Leipzig           7.00
               Mannheim         22.66
               Nürnberg         18.44
               Stuttgart        16.00
               Ulm              43.01
               Würzburg          9.00
Essen          Aachen           10.26
               Bochum            1.49
               Bonn             12.74
               Duisburg          2.86
               Gelsenkirchen     0.86
               Hagen             7.57
               Hamburg          20.17
               Oberhausen        1.16
               Osnabrück        11.63
               Solingen         13.96
               Wuppertal        10.78
Gelsenkirchen  Bochum            2.35
               Bonn             12.51
               Duisburg          2.49
               Hagen             6.89
               Mannheim         23.20
               Solingen         14.42
               Wuppertal        13.20
Hagen          Aachen           14.40
               Bochum            6.08
               Bonn             16.88
               Duisburg         10.08
               Gelsenkirchen     6.89
               Heidelberg       15.00
               Karlsruhe        20.02
               Mannheim         16.66
               Oberhausen        8.73
               Solingen         10.01
               Wuppertal         6.31
Hamburg        Berlin           14.20
               Bochum           23.44
               Bonn             24.48
               Dortmund         25.13
               Duisburg         24.96
               Düsseldorf       19.00
               Essen            21.95
               Hagen            32.83
               Köln             18.00
               Leipzig          20.04
               Solingen         42.84
               Wuppertal        39.14
               Würzburg         26.00
Heidelberg     Bochum           23.44
               Bonn             10.66
               Darmstadt         4.00
               Duisburg         19.00
               Erfurt           27.16
               Erlangen         20.23
               Gelsenkirchen    24.84
               Karlsruhe         5.02
               Mannheim          1.66
               Oberhausen       22.47
               Ulm              19.25
               Würzburg         11.66
Karlsruhe      Bamberg          23.33
               Bonn             14.44
               Darmstadt         5.00
               Düsseldorf       24.02
               Erfurt           19.00
               Heidelberg        5.02
               Köln             28.64
               Mannheim          5.44
               München          14.00
               Nürnberg         20.18
               Solingen         17.00
               Stuttgart         6.00
               Ulm              14.23
               Würzburg         14.91
Köln           Aachen            4.00
               Bochum            6.49
               Bonn              4.32
               Darmstadt        19.00
               Duisburg          9.27
               Gelsenkirchen     5.86
               Hagen            12.57
               Hamburg          21.00
               Heidelberg       15.00
               Karlsruhe        20.02
               Mannheim         15.00
               Oberhausen        7.46
               Solingen          6.23
               Wuppertal         9.93
               Würzburg         26.15
Leipzig        Bamberg          21.40
               Berlin            9.20
               Bochum           24.68
               Darmstadt        32.22
               Dortmund         23.00
               Erlangen         24.84
               Hagen            37.33
               Hamburg          19.00
               Heidelberg       31.00
               München          41.29
               Nürnberg         23.13
               Würzburg         24.36
Mannheim       Bonn              9.00
               Darmstadt         4.00
               Dortmund         24.96
               Duisburg         19.00
               Düsseldorf       20.66
               Erfurt           26.49
               Essen            23.27
               Hagen            29.36
               Heidelberg        1.66
               Karlsruhe         5.44
               Köln             23.20
               München          17.85
               Nürnberg         20.12
               Oberhausen       24.12
               Osnabrück        34.13
               Solingen         16.00
               Stuttgart        15.43
               Ulm              19.67
               Wuppertal        30.53
               Würzburg         10.00
München        Bamberg          13.21
               Darmstadt        20.85
               Erlangen          9.77
               Heidelberg       21.71
               Karlsruhe        15.85
               Leipzig          25.00
               Mannheim         23.36
               Nürnberg          8.00
               Stuttgart        21.85
               Ulm              31.26
               Würzburg         17.15
Nürnberg       Bamberg           5.21
               Bonn             19.00
               Darmstadt        18.00
               Düsseldorf       30.15
               Erfurt           16.77
               Erlangen          1.77
               Hamburg          42.13
               Heidelberg       18.47
               Karlsruhe        13.00
               Köln             21.77
               Leipzig          23.02
               Mannheim         20.12
               München          27.00
               Stuttgart        11.00
               Ulm              15.57
               Wuppertal        47.43
               Würzburg          9.15
Oberhausen     Bochum            2.65
               Bonn             10.75
               Duisburg          0.72
               Gelsenkirchen     2.01
               Hagen             8.73
               Mannheim         21.43
               Solingen         12.66
               Wuppertal        15.04
Solingen       Darmstadt        25.23
               Hagen            10.01
Stuttgart      Aachen           22.00
               Bonn             24.48
               Darmstadt        12.00
               Erfurt           24.00
               Heidelberg       13.77
               Karlsruhe         5.00
               Mannheim         15.43
               Solingen         24.00
               Ulm              13.20
               Wuppertal        31.24
               Würzburg          7.00
Ulm            Bamberg          36.47
               Bonn             43.03
               Darmstadt        28.13
               Erfurt           42.56
               Erlangen         32.98
               Heidelberg       23.86
               Karlsruhe        20.71
               Mannheim         25.51
               Solingen         42.56
               Wuppertal        49.80
               Würzburg         25.56
Wuppertal      Aachen           13.93
               Bochum           10.95
               Bonn             14.25
               Duisburg         14.30
               Gelsenkirchen    13.16
               Hagen             6.31
               Mannheim         22.96
               Oberhausen       15.04
               Osnabrück        20.05
               Solingen          3.70
Würzburg       Bamberg           8.42
               Bochum           23.24
               Bonn             28.15
               Darmstadt        12.35
               Duisburg         20.00
               Düsseldorf       22.33
               Erfurt           15.22
               Erlangen          7.97
               Essen            21.75
               Hagen            29.32
               Hamburg          42.22
               Heidelberg       13.20
               Karlsruhe        14.91
               Köln             25.71
               Leipzig          24.36
               Mannheim         14.85
               München          34.68
               Nürnberg          9.15
               Oberhausen       21.85
               Stuttgart         7.00
               Ulm              33.36
               Wuppertal        35.63
Name: totalPrice, dtype: float64

In [26]:
data2.loc[(data2['totalPrice'] == 7.00) & (data2['sourceName'].isin(['Würzburg']))]

#42 options are duplicationg each other-except totalWalkingDistance and finiteAutomation values, need to shrink the data set
#the proposed final mode is the same, FA won't be taken into consideration, only with respect to totalWalkingDistance

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
9855,6127.0,7.0,0,0.000,0,price,all,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9856,6127.0,7.0,0,0.000,0,travelTime,all,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9857,6127.0,7.0,0,0.000,0,price,ptOnly,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9858,6127.0,7.0,0,0.000,0,travelTime,ptOnly,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9859,6127.0,7.0,0,0.000,0,price,noFlights,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9860,6127.0,7.0,0,0.000,0,travelTime,noFlights,"[travelTime, price]",[blablacar],Würzburg,Stuttgart
9861,6127.0,7.0,0,0.000,0,price,all,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9862,6127.0,7.0,0,0.000,0,travelTime,all,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9864,6127.0,7.0,0,0.000,0,numberofChanges,all,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9865,6127.0,7.0,0,0.000,0,price,ptOnly,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9866,6127.0,7.0,0,0.000,0,travelTime,ptOnly,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9867,6127.0,7.0,0,0.000,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9868,6127.0,7.0,0,0.000,0,price,noFlights,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9869,6127.0,7.0,0,0.000,0,travelTime,noFlights,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9871,6127.0,7.0,0,0.000,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges]",[blablacar],Würzburg,Stuttgart
9872,6127.0,7.0,0,0.178,0,price,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9873,6127.0,7.0,0,0.178,0,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9875,6127.0,7.0,0,0.178,0,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9877,6127.0,7.0,0,0.178,0,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9880,6127.0,7.0,0,0.178,0,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9881,6127.0,7.0,0,0.178,0,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9882,6127.0,7.0,0,0.178,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9885,6127.0,7.0,0,0.178,0,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9892,6127.0,7.0,0,0.178,0,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9893,6127.0,7.0,0,0.178,0,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9895,6127.0,7.0,0,0.178,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9897,6127.0,7.0,0,0.178,0,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9900,6127.0,7.0,0,0.178,0,price,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9901,6127.0,7.0,0,0.178,0,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9903,6127.0,7.0,0,0.178,0,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9905,6127.0,7.0,0,0.178,0,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9908,6127.0,7.0,0,0.178,0,waitingTime,all,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9910,6127.0,7.0,0,0.178,0,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9911,6127.0,7.0,0,0.178,0,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9912,6127.0,7.0,0,0.178,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9915,6127.0,7.0,0,0.178,0,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9917,6127.0,7.0,0,0.178,0,waitingTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9925,6127.0,7.0,0,0.178,0,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9926,6127.0,7.0,0,0.178,0,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9928,6127.0,7.0,0,0.178,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9930,6127.0,7.0,0,0.178,0,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart
9933,6127.0,7.0,0,0.178,0,waitingTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[blablacar],Würzburg,Stuttgart

In [27]:
# to go to Duisburg we have to pay 0,72 euros as minimum and this is the cheapest price
data2.groupby('targetName')['totalPrice'].min()

targetName
Aachen            4.00
Bamberg           5.21
Berlin            9.20
Bochum            1.49
Bonn              4.32
Darmstadt         4.00
Dortmund         23.00
Duisburg          0.72
Düsseldorf       19.00
Erfurt           15.22
Erlangen          1.77
Essen            21.75
Gelsenkirchen     0.86
Hagen             4.40
Hamburg          14.11
Heidelberg        1.66
Karlsruhe         5.00
Köln             18.00
Leipzig           7.00
Mannheim          1.66
München          14.00
Nürnberg          8.00
Oberhausen        1.16
Osnabrück        11.63
Solingen          3.70
Stuttgart         6.00
Ulm              13.20
Wuppertal         6.31
Würzburg          7.00
Name: totalPrice, dtype: float64

In [28]:
data2.loc[(data2['totalPrice'] == 0.72 ) & (data2['targetName'].isin(['Duisburg']))]
#get rid of non-dominative solutions as the next step

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
55953,488.0,0.72,0,0.000,0,price,all,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55956,488.0,0.72,0,0.000,0,travelTime,all,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55957,488.0,0.72,0,0.000,0,price,ptOnly,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55960,488.0,0.72,0,0.000,0,travelTime,ptOnly,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55961,488.0,0.72,0,0.000,0,price,noFlights,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55964,488.0,0.72,0,0.000,0,travelTime,noFlights,"[travelTime, price]",[flixbus],Oberhausen,Duisburg
55965,488.0,0.72,0,0.000,0,price,all,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55968,488.0,0.72,0,0.000,0,travelTime,all,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55972,488.0,0.72,0,0.000,0,numberofChanges,all,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55973,488.0,0.72,0,0.000,0,price,ptOnly,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55976,488.0,0.72,0,0.000,0,travelTime,ptOnly,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55979,488.0,0.72,0,0.000,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55980,488.0,0.72,0,0.000,0,price,noFlights,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55983,488.0,0.72,0,0.000,0,travelTime,noFlights,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55987,488.0,0.72,0,0.000,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges]",[flixbus],Oberhausen,Duisburg
55988,488.0,0.72,0,0.095,0,price,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
55991,488.0,0.72,0,0.095,0,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
55996,488.0,0.72,0,0.095,0,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
55999,488.0,0.72,0,0.095,0,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56001,488.0,0.72,0,0.095,0,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56004,488.0,0.72,0,0.095,0,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56007,488.0,0.72,0,0.095,0,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56009,488.0,0.72,0,0.095,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56010,488.0,0.72,0,0.095,0,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56013,488.0,0.72,0,0.095,0,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56018,488.0,0.72,0,0.095,0,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56021,488.0,0.72,0,0.095,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56023,488.0,0.72,0,0.095,0,price,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56026,488.0,0.72,0,0.095,0,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56031,488.0,0.72,0,0.095,0,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56037,488.0,0.72,0,0.095,0,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56039,488.0,0.72,0,0.095,0,waitingTime,all,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56040,488.0,0.72,0,0.095,0,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56043,488.0,0.72,0,0.095,0,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56046,488.0,0.72,0,0.095,0,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56050,488.0,0.72,0,0.095,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56051,488.0,0.72,0,0.095,0,waitingTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56052,488.0,0.72,0,0.095,0,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56055,488.0,0.72,0,0.095,0,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56060,488.0,0.72,0,0.095,0,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56066,488.0,0.72,0,0.095,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg
56068,488.0,0.72,0,0.095,0,waitingTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[flixbus],Oberhausen,Duisburg

In [29]:
# Group the data frame pairwise Source&Target and extract the most friendly combination proposed by the algorithm with respect to price,time,tranfers
a = data2.groupby(
   ['sourceName', 'targetName']
).agg(
    {
         'totalTravelTimeInSec':'min',    # proposed the minimum time
         'totalPrice': "min",  # get the lowest price
         'totalNumberOfChanges': 'min'  # get a direct route
    }
)
a
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a)

                             totalTravelTimeInSec  totalPrice  \
sourceName    targetName
Aachen        Bochum                       6307.0       28.22
              Bonn                         3420.0       26.05
              Darmstadt                    8580.0       14.00
              Dortmund                     7150.0       29.91
              Duisburg                     5072.0       31.00
              Düsseldorf                   3867.0       24.47
              Essen                        5392.0       26.73
              Gelsenkirchen                6055.0       27.59
              Hagen                        6332.0       34.31
              Heidelberg                  11687.0       36.73
              Köln                         2160.0       21.73
              Mannheim                     8100.0       36.73
              Oberhausen                   5547.0       29.19
              Solingen                     4582.0       26.00
              Stuttgart                   10560.0       41.73
              Wuppertal                    5166.0       31.66
              Würzburg                    12120.0       47.89
Berlin        Hamburg                      6120.0       14.11
              Leipzig                      4320.0       10.44
Bochum        Bonn                         4920.0       14.16
              Duisburg                     1384.0        4.00
              Gelsenkirchen                1092.0        2.35
              Hagen                        2186.0        6.08
              Oberhausen                   1865.0        3.67
              Solingen                     3117.0       16.02
              Wuppertal                    2047.0       11.13
Bonn          Aachen                       3180.0       10.48
              Bochum                       4860.0       12.97
              Darmstadt                    7498.0       17.17
              Duisburg                     3604.0       15.74
              Gelsenkirchen                4860.0       12.33
              Hagen                        4200.0       19.05
              Heidelberg                   9303.0       11.00
              Karlsruhe                    8640.0       16.02
              Mannheim                     7200.0       12.66
              Oberhausen                   4140.0       13.94
              Solingen                     2460.0       12.70
              Wuppertal                    3060.0       16.41
Darmstadt     Bonn                         7596.0       13.51
              Erfurt                      10920.0       22.00
              Gelsenkirchen               11467.0       22.96
              Hagen                        9300.0       24.87
              Heidelberg                   2100.0        5.18
              Karlsruhe                    4200.0        9.92
              Mannheim                     2100.0        4.51
              Oberhausen                  10906.0       22.99
              Solingen                     7380.0       12.00
              Ulm                          8160.0       24.18
              Wuppertal                    8220.0       31.17
              Würzburg                     5820.0       12.18
Dortmund      Aachen                       6992.0       10.00
              Bochum                        540.0        1.68
              Bonn                         5700.0       12.48
              Duisburg                     2164.0        5.68
              Erfurt                      13380.0       29.54
              Gelsenkirchen                1897.0        2.49
              Hagen                        1140.0        4.40
              Hamburg                     10080.0       17.00
              Karlsruhe                   12060.0       21.02
              Mannheim                     9960.0       17.66
              Oberhausen                   2531.0        4.33
              Solingen                     2880.0       14.41
              Wuppertal                    2100.0       10.71
Duisburg      Solingen                     2160.0       11.85
Düsseldorf    Aachen                       3868.0        7.31
              Bochum                       2100.0        4.44
              Bonn                         2700.0        7.63
              Darmstadt                    7680.0       19.13
              Duisburg                      784.0        4.90
              Gelsenkirchen                1800.0        3.81
              Hagen                        3178.0       10.53
              Mannheim                     6960.0       18.31
              Oberhausen                   1080.0        3.05
              Osnabrück                    6360.0       14.58
              Solingen                     1486.0        5.94
              Wuppertal                    1885.0        9.76
              Würzburg                     9540.0       28.07
Erfurt        Bamberg                      2580.0       13.24
              Berlin                       6360.0       22.50
              Darmstadt                   10320.0       22.00
              Dortmund                    13440.0       30.50
              Düsseldorf                  14760.0       32.25
              Erlangen                     3720.0       16.68
              Hamburg                     13740.0       23.76
              Heidelberg                  12827.0       21.00
              Karlsruhe                   12480.0       26.02
              Köln                        13680.0       36.15
              Leipzig                      2460.0        7.00
              Mannheim                    10620.0       22.66
              Nürnberg                     4260.0       18.44
              Stuttgart                   13080.0       16.00
              Ulm                         12600.0       43.01
              Würzburg                     7080.0        9.00
Essen         Aachen                       5368.0       10.26
              Bochum                        480.0        1.49
              Bonn                         4320.0       12.74
              Duisburg                      784.0        2.86
              Gelsenkirchen                 480.0        0.86
              Hagen                        2820.0        7.57
              Hamburg                     11640.0       20.17
              Oberhausen                    958.0        1.16
              Osnabrück                    4680.0       11.63
              Solingen                     2457.0       13.96
              Wuppertal                    2168.0       10.78
Gelsenkirchen Bochum                       1146.0        2.35
              Bonn                         4920.0       12.51
              Duisburg                     1144.0        2.49
              Hagen                        2803.0        6.89
              Mannheim                     9600.0       23.20
              Solingen                     3000.0       14.42
              Wuppertal                    2641.0       13.20
Hagen         Aachen                       6398.0       14.40
              Bochum                       2195.0        6.08
              Bonn                         4320.0       16.88
              Duisburg                     3820.0       10.08
              Gelsenkirchen                2831.0        6.89
              Heidelberg                  11792.0       15.00
              Karlsruhe                   10860.0       20.02
              Mannheim                     8760.0       16.66
              Oberhausen                   3510.0        8.73
              Solingen                     1620.0       10.01
              Wuppertal                     840.0        6.31
Hamburg       Berlin                       6180.0       14.20
              Bochum                      10860.0       23.44
              Bonn                        14998.0       24.48
              Dortmund                    10020.0       25.13
              Duisburg                     9842.0       24.96
              Düsseldorf                   9658.0       19.00
              Essen                       10498.0       21.95
              Hagen                       11340.0       32.83
              Köln                        13618.0       18.00
              Leipzig                     11040.0       20.04
              Solingen                    13140.0       42.84
              Wuppertal                   12360.0       39.14
              Würzburg                    14400.0       26.00
Heidelberg    Bochum                      11507.0       23.44
              Bonn                         9408.0       10.66
              Darmstadt                    2160.0        4.00
              Duisburg                    10251.0       19.00
              Erfurt                      12587.0       27.16
              Erlangen                    10448.0       20.23
              Gelsenkirchen               11927.0       24.84
              Karlsruhe                    2441.0        5.02
              Mannheim                     1282.0        1.66
              Oberhausen                  11447.0       22.47
              Ulm                          9040.0       19.25
              Würzburg                     7233.0       11.66
Karlsruhe     Bamberg                     12020.0       23.33
              Bonn                         9120.0       14.44
              Darmstadt                    4214.0        5.00
              Düsseldorf                   9000.0       24.02
              Erfurt                      12360.0       19.00
              Heidelberg                   2577.0        5.02
              Köln                         7440.0       28.64
              Mannheim                     1380.0        5.44
              München                     10800.0       14.00
              Nürnberg                    10200.0       20.18
              Solingen                     8820.0       17.00
              Stuttgart                    2160.0        6.00
              Ulm                          5940.0       14.23
              Würzburg                     7800.0       14.91
Köln          Aachen                       1980.0        4.00
              Bochum                       3420.0        6.49
              Bonn                         1080.0        4.32
              Darmstadt                    6000.0       19.00
              Duisburg                     2104.0        9.27
              Gelsenkirchen                3480.0        5.86
              Hagen                        2700.0       12.57
              Hamburg                     14640.0       21.00
              Heidelberg                   7427.0       15.00
              Karlsruhe                    6720.0       20.02
              Mannheim                     5160.0       15.00
              Oberhausen                   2580.0        7.46
              Solingen                      960.0        6.23
              Wuppertal                    1560.0        9.93
              Würzburg                     9180.0       26.15
Leipzig       Bamberg                      5220.0       21.40
              Berlin                       4380.0        9.20
              Bochum                      16740.0       24.68
              Darmstadt                   12960.0       32.22
              Dortmund                    15960.0       23.00
              Erlangen                     6420.0       24.84
              Hagen                       17201.0       37.33
              Hamburg                     11160.0       19.00
              Heidelberg                  15347.0       31.00
              München                     11700.0       41.29
              Nürnberg                     7440.0       23.13
              Würzburg                     9600.0       24.36
Mannheim      Bonn                         7140.0        9.00
              Darmstadt                    2464.0        4.00
              Dortmund                     9720.0       24.96
              Duisburg                     7684.0       19.00
              Düsseldorf                   6540.0       20.66
              Erfurt                      10440.0       26.49
              Essen                        8280.0       23.27
              Hagen                        8580.0       29.36
              Heidelberg                   1116.0        1.66
              Karlsruhe                    1320.0        5.44
              Köln                         5280.0       23.20
              München                     10560.0       17.85
              Nürnberg                     9720.0       20.12
              Oberhausen                   8460.0       24.12
              Osnabrück                   13500.0       34.13
              Solingen                     6660.0       16.00
              Stuttgart                    2220.0       15.43
              Ulm                          5820.0       19.67
              Wuppertal                    7500.0       30.53
              Würzburg                     6300.0       10.00
München       Bamberg                      6060.0       13.21
              Darmstadt                   12900.0       20.85
              Erlangen                     4920.0        9.77
              Heidelberg                  12707.0       21.71
              Karlsruhe                   10920.0       15.85
              Leipzig                     11640.0       25.00
              Mannheim                    10800.0       23.36
              Nürnberg                     3780.0        8.00
              Stuttgart                    7920.0       21.85
              Ulm                          4500.0       31.26
              Würzburg                     7080.0       17.15
Nürnberg      Bamberg                      1980.0        5.21
              Bonn                        15120.0       19.00
              Darmstadt                    8700.0       18.00
              Düsseldorf                  12960.0       30.15
              Erfurt                       4740.0       16.77
              Erlangen                      840.0        1.77
              Hamburg                     17760.0       42.13
              Heidelberg                   9403.0       18.47
              Karlsruhe                   10301.0       13.00
              Köln                        12780.0       21.77
              Leipzig                      7440.0       23.02
              Mannheim                     9780.0       20.12
              München                      3720.0       27.00
              Stuttgart                    8040.0       11.00
              Ulm                          7440.0       15.57
              Wuppertal                   15060.0       47.43
              Würzburg                     3060.0        9.15
Oberhausen    Bochum                       1620.0        2.65
              Bonn                         4140.0       10.75
              Duisburg                      424.0        0.72
              Gelsenkirchen                 540.0        2.01
              Hagen                        3471.0        8.73
              Mannheim                     8640.0       21.43
              Solingen                     2485.0       12.66
              Wuppertal                    2816.0       15.04
Solingen      Darmstadt                    7680.0       25.23
              Hagen                        1740.0       10.01
Stuttgart     Aachen                      10320.0       22.00
              Bonn                         9840.0       24.48
              Darmstadt                    4680.0       12.00
              Erfurt                      12900.0       24.00
              Heidelberg                   4367.0       13.77
              Karlsruhe                    2160.0        5.00
              Mannheim                     2220.0       15.43
              Solingen                     9360.0       24.00
              Ulm                          3240.0       13.20
              Wuppertal                   10200.0       31.24
              Würzburg                     6618.0        7.00
Ulm           Bamberg                      9840.0       36.47
              Bonn                        13440.0       43.03
              Darmstadt                    8280.0       28.13
              Erfurt                      12540.0       42.56
              Erlangen                     8640.0       32.98
              Heidelberg                   8027.0       23.86
              Karlsruhe                    5940.0       20.71
              Mannheim                     5880.0       25.51
              Solingen                    12960.0       42.56
              Wuppertal                   13800.0       49.80
              Würzburg                     8098.0       25.56
Wuppertal     Aachen                       5056.0       13.93
              Bochum                       2145.0       10.95
              Bonn                         3300.0       14.25
              Duisburg                     2476.0       14.30
              Gelsenkirchen                2761.0       13.16
              Hagen                         960.0        6.31
              Mannheim                     7740.0       22.96
              Oberhausen                   2847.0       15.04
              Osnabrück                    5820.0       20.05
              Solingen                      660.0        3.70
Würzburg      Bamberg                      4187.0        8.42
              Bochum                      12060.0       23.24
              Bonn                        11602.0       28.15
              Darmstadt                    5400.0       12.35
              Duisburg                    10504.0       20.00
              Düsseldorf                   9600.0       22.33
              Erfurt                       7080.0       15.22
              Erlangen                     3960.0        7.97
              Essen                       11160.0       21.75
              Hagen                       12000.0       29.32
              Hamburg                     14280.0       42.22
              Heidelberg                   7180.0       13.20
              Karlsruhe                    7920.0       14.91
              Köln                         9420.0       25.71
              Leipzig                      9660.0       24.36
              Mannheim                     6420.0       14.85
              München                      6960.0       34.68
              Nürnberg                     3000.0        9.15
              Oberhausen                  12780.0       21.85
              Stuttgart                    6127.0        7.00
              Ulm                          8095.0       33.36
              Wuppertal                   11820.0       35.63

                             totalNumberOfChanges
sourceName    targetName
Aachen        Bochum                            0
              Bonn                              0
              Darmstadt                         0
              Dortmund                          0
              Duisburg                          0
              Düsseldorf                        0
              Essen                             0
              Gelsenkirchen                     0
              Hagen                             0
              Heidelberg                        0
              Köln                              0
              Mannheim                          0
              Oberhausen                        0
              Solingen                          0
              Stuttgart                         0
              Wuppertal                         0
              Würzburg                          0
Berlin        Hamburg                           0
              Leipzig                           0
Bochum        Bonn                              0
              Duisburg                          0
              Gelsenkirchen                     0
              Hagen                             0
              Oberhausen                        0

In [30]:
data2.loc[(data2['totalPrice'] == 28.22 ) & (data2['targetName'].isin(['Bochum']))]

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,objective,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
44677,22956.0,28.22,0,0.000,0,price,all,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44689,22956.0,28.22,0,0.000,0,travelTime,all,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44690,22956.0,28.22,0,0.000,0,price,ptOnly,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44704,22956.0,28.22,0,0.000,0,travelTime,ptOnly,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44705,22956.0,28.22,0,0.000,0,price,noFlights,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44717,22956.0,28.22,0,0.000,0,travelTime,noFlights,"[travelTime, price]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44718,22956.0,28.22,2,0.000,0,price,all,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44725,22956.0,28.22,2,0.000,0,travelTime,all,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44728,22956.0,28.22,2,0.000,0,numberofChanges,all,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44729,22956.0,28.22,2,0.000,0,price,ptOnly,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44741,22956.0,28.22,2,0.000,0,travelTime,ptOnly,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44749,22956.0,28.22,2,0.000,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44751,22956.0,28.22,2,0.000,0,price,noFlights,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44758,22956.0,28.22,2,0.000,0,travelTime,noFlights,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44761,22956.0,28.22,2,0.000,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges]","[db_fv, blablacar, flixbus]",Aachen,Bochum
44762,22956.0,28.22,2,0.428,0,price,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44769,22956.0,28.22,2,0.428,0,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44773,22956.0,28.22,2,0.428,0,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44775,22956.0,28.22,2,0.428,0,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44776,22956.0,28.22,2,0.428,0,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44788,22956.0,28.22,2,0.428,0,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44801,22956.0,28.22,2,0.428,0,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44807,22956.0,28.22,2,0.428,0,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44810,22956.0,28.22,2,0.428,0,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44817,22956.0,28.22,2,0.428,0,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44821,22956.0,28.22,2,0.428,0,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44823,22956.0,28.22,2,0.428,0,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44824,22956.0,28.22,2,0.428,14789,price,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44832,22956.0,28.22,2,0.428,14789,travelTime,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44837,22956.0,28.22,2,0.428,14789,numberofChanges,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44839,22956.0,28.22,2,0.428,14789,walkingDistance,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44843,22956.0,28.22,2,0.428,14789,waitingTime,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44846,22956.0,28.22,2,0.428,14789,price,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44859,22956.0,28.22,2,0.428,14789,travelTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44879,22956.0,28.22,2,0.428,14789,numberofChanges,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44885,22956.0,28.22,2,0.428,14789,walkingDistance,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44892,22956.0,28.22,2,0.428,14789,waitingTime,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44904,22956.0,28.22,2,0.428,14789,price,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44912,22956.0,28.22,2,0.428,14789,travelTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44917,22956.0,28.22,2,0.428,14789,numberofChanges,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44919,22956.0,28.22,2,0.428,14789,walkingDistance,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum
44923,22956.0,28.22,2,0.428,14789,waitingTime,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",Aachen,Bochum

In [31]:
#select ST towns from where it is possible to move directly simultanously with having 0 waiting time and 0 ditsance by foot
cr1 = data1.totalNumberOfChanges == 0
cr2 = data1.totalWaitingTime == 0
cr3 = data1.totalWalkingDistance == 0

data2[cr1 & cr2 & cr3]. loc [:, ['sourceName', 'targetName']]

      sourceName     targetName
0          Essen  Gelsenkirchen
1          Essen  Gelsenkirchen
2          Essen  Gelsenkirchen
3          Essen  Gelsenkirchen
4          Essen  Gelsenkirchen
...          ...            ...
63052   Nürnberg           Köln
63057   Nürnberg           Köln
63060   Nürnberg           Köln
63061   Nürnberg           Köln
63066   Nürnberg           Köln

[25552 rows x 2 columns]

In [32]:
# Group the data frame by target&source to see all the ranges for the respective variables
data2.groupby(
    ['sourceName', 'targetName']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'totalTravelTimeInSec': [min, max],
        # find the number of network type entries
        'totalPrice': [min, max],
        # minimum, first, and number of unique dates
        'totalWalkingDistance': [min, max],
        'totalWaitingTime': [min, max]
    }
)

                      totalTravelTimeInSec          totalPrice          \
                                       min      max        min     max
sourceName targetName
Aachen     Bochum                   6307.0  74856.0      28.22  164.54
           Bonn                     3420.0  10620.0      26.05   28.21
           Darmstadt                8580.0  13560.0      14.00   85.01
           Dortmund                 7150.0  38891.0      29.91  170.29
           Duisburg                 5072.0  41644.0      31.00  149.59
...                                    ...      ...        ...     ...
Würzburg   Nürnberg                 3000.0   6024.0       9.15   33.07
           Oberhausen              12780.0  27198.0      21.85  109.72
           Stuttgart                6127.0  24240.0       7.00   81.17
           Ulm                      8095.0  25252.0      33.36  113.91
           Wuppertal               11820.0  29542.0      35.63  103.61

                      totalWalkingDistance        totalWaitingTime
                                       min    max              min    max
sourceName targetName
Aachen     Bochum                      0.0  0.428                0  62577
           Bonn                        0.0  0.000                0   7380
           Darmstadt                   0.0  0.084                0   5820
           Dortmund                    0.0  0.477                0  26877
           Duisburg                    0.0  0.364                0  34363
...                                    ...    ...              ...    ...
Würzburg   Nürnberg                    0.0  0.452                0      0
           Oberhausen                  0.0  0.277                0   6480
           Stuttgart                   0.0  0.178                0  15240
           Ulm                         0.0  0.261                0   7185
           Wuppertal                   0.0  0.303                0  16620

[300 rows x 8 columns]

In [33]:
# get the number of unique proposed combinations in total per source-target
data2.groupby(['sourceName', 'targetName'])['finalSolutionUsedLabels'].nunique()

sourceName  targetName
Aachen      Bochum        7
            Bonn          2
            Darmstadt     3
            Dortmund      7
            Duisburg      5
                         ..
Würzburg    Nürnberg      3
            Oberhausen    4
            Stuttgart     3
            Ulm           3
            Wuppertal     6
Name: finalSolutionUsedLabels, Length: 300, dtype: int64

In [35]:
#we do not need an objective column
data_new = data2.drop('objective', 1)

In [36]:
data_new.head()

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
0,1415.0,0.86,0,0.0,0,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
1,480.0,2.17,0,0.0,0,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
2,480.0,2.17,0,0.0,0,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
3,1415.0,0.86,0,0.0,0,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
4,1415.0,0.86,0,0.0,0,ptOnly,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen

In [37]:
data_new.drop_duplicates()
# we shortened our DF 3 times by getting rid of duplications

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,sourceName,targetName
0,1415.0,0.86,0,0.000,0,all,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
1,480.0,2.17,0,0.000,0,all,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
4,1415.0,0.86,0,0.000,0,ptOnly,"[travelTime, price]",[flixbus],Essen,Gelsenkirchen
5,480.0,2.17,0,0.000,0,ptOnly,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
6,480.0,2.89,0,0.000,0,ptOnly,"[travelTime, price]",[db_fv],Essen,Gelsenkirchen
...,...,...,...,...,...,...,...,...,...,...
63049,12780.0,118.56,1,0.000,1500,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Nürnberg,Köln
63053,12900.0,119.29,1,0.000,720,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Nürnberg,Köln
63055,12840.0,119.29,1,0.000,840,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Nürnberg,Köln
63057,19740.0,91.96,0,0.000,0,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],Nürnberg,Köln
63062,27076.0,64.58,1,0.129,2144,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar]",Nürnberg,Köln

In [46]:
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler


from sklearn.metrics import silhouette_samples, silhouette_score

%matplotlib inline

In [63]:
#we do not need to specify source and target for clustering technique
data_new.head()

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels
0,1415.0,0.86,0,0.0,0,all,"[travelTime, price]",[flixbus]
1,480.0,2.17,0,0.0,0,all,"[travelTime, price]",[db_fv]
2,480.0,2.17,0,0.0,0,all,"[travelTime, price]",[db_fv]
3,1415.0,0.86,0,0.0,0,all,"[travelTime, price]",[flixbus]
4,1415.0,0.86,0,0.0,0,ptOnly,"[travelTime, price]",[flixbus]

In [64]:
#use kprototypes as a function of kmodes to handle both numerical and categorical variables
categorical_features_idx = [5, 6, 7] #specidy our categorical

In [65]:
mark_array=data_new.values

In [67]:
from kmodes.kprototypes import KPrototypes

In [ ]:
#how many clusters? absed on a cost function
cost = []
for num_clusters in list(range(1,10)):
    kproto = KPrototypes(n_clusters=num_clusters, init='Cao')
    kproto.fit_predict(data_new, categorical=[5,6,7])
    cost.append(kproto.cost_)

plt.plot(cost)

In [69]:
#try 8 clusters
kproto = KPrototypes(n_clusters=8, verbose=2, max_iter=20).fit(mark_array, categorical=categorical_features_idx)

Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 20484, ncost: 1060042175797.6666
Run: 1, iteration: 2/20, moves: 6785, ncost: 957253885845.974
Run: 1, iteration: 3/20, moves: 5710, ncost: 878391864405.5665
Run: 1, iteration: 4/20, moves: 4370, ncost: 835914597638.0156
Run: 1, iteration: 5/20, moves: 4084, ncost: 817787635667.3094
Run: 1, iteration: 6/20, moves: 2347, ncost: 811907603673.234
Run: 1, iteration: 7/20, moves: 1187, ncost: 810007416718.4733
Run: 1, iteration: 8/20, moves: 1432, ncost: 807652506501.7605
Run: 1, iteration: 9/20, moves: 1279, ncost: 805398735104.4358
Run: 1, iteration: 10/20, moves: 1467, ncost: 801705970320.0886
Run: 1, iteration: 11/20, moves: 1569, ncost: 799842759395.9989
Run: 1, iteration: 12/20, moves: 1067, ncost: 799029961615.9349
Run: 1, iteration: 13/20, moves: 1178, ncost: 797100297590.1538
Run: 1, iteration: 14/20, moves: 1104, ncost: 796272368038.9128
Run: 1, iteration: 15/20, moves: 873, ncost: 795666071810.5426
Run: 1, iteration: 16/20, moves: 701, ncost: 795329424435.5228
Run: 1, iteration: 17/20, moves: 390, ncost: 795136294741.4363
Run: 1, iteration: 18/20, moves: 559, ncost: 794791543932.7705
Run: 1, iteration: 19/20, moves: 588, ncost: 794503749261.1622
Run: 1, iteration: 20/20, moves: 157, ncost: 794466738508.702
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 15590, ncost: 1249206928415.0273
Run: 2, iteration: 2/20, moves: 6343, ncost: 983846234750.7656
Run: 2, iteration: 3/20, moves: 4411, ncost: 881751766228.3295
Run: 2, iteration: 4/20, moves: 3858, ncost: 844055220052.1478
Run: 2, iteration: 5/20, moves: 3372, ncost: 829031902400.0425
Run: 2, iteration: 6/20, moves: 2785, ncost: 818870056325.8624
Run: 2, iteration: 7/20, moves: 1864, ncost: 812298413133.684
Run: 2, iteration: 8/20, moves: 1242, ncost: 806719298531.0277
Run: 2, iteration: 9/20, moves: 1415, ncost: 804558484700.0464
Run: 2, iteration: 10/20, moves: 1120, ncost: 803473140796.3328
Run: 2, iteration: 11/20, moves: 1095, ncost: 802469674110.9338
Run: 2, iteration: 12/20, moves: 1588, ncost: 800593310701.0663
Run: 2, iteration: 13/20, moves: 1283, ncost: 798393959534.0148
Run: 2, iteration: 14/20, moves: 1315, ncost: 797475822131.5294
Run: 2, iteration: 15/20, moves: 1066, ncost: 796648862132.2415
Run: 2, iteration: 16/20, moves: 1106, ncost: 795868827236.042
Run: 2, iteration: 17/20, moves: 814, ncost: 795448666321.6848
Run: 2, iteration: 18/20, moves: 438, ncost: 795230098803.4438
Run: 2, iteration: 19/20, moves: 398, ncost: 795011976819.2177
Run: 2, iteration: 20/20, moves: 682, ncost: 794568627501.612
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 19528, ncost: 1290234400305.4363
Run: 3, iteration: 2/20, moves: 10415, ncost: 1059180869299.69
Run: 3, iteration: 3/20, moves: 7904, ncost: 939679699616.2456
Run: 3, iteration: 4/20, moves: 5548, ncost: 867488282393.3218
Run: 3, iteration: 5/20, moves: 4356, ncost: 842442997799.8014
Run: 3, iteration: 6/20, moves: 3561, ncost: 829875496361.3925
Run: 3, iteration: 7/20, moves: 3468, ncost: 820148566805.4192
Run: 3, iteration: 8/20, moves: 2356, ncost: 812817080979.3523
Run: 3, iteration: 9/20, moves: 1472, ncost: 806817576398.2369
Run: 3, iteration: 10/20, moves: 1349, ncost: 804739238309.3766
Run: 3, iteration: 11/20, moves: 1264, ncost: 803541405639.1002
Run: 3, iteration: 12/20, moves: 1200, ncost: 802475669831.974
Run: 3, iteration: 13/20, moves: 1590, ncost: 800596968132.4417
Run: 3, iteration: 14/20, moves: 1286, ncost: 798393959534.0148
Run: 3, iteration: 15/20, moves: 1315, ncost: 797475822131.5294
Run: 3, iteration: 16/20, moves: 1066, ncost: 796648862132.2415
Run: 3, iteration: 17/20, moves: 1106, ncost: 795868827236.042
Run: 3, iteration: 18/20, moves: 814, ncost: 795448666321.6848
Run: 3, iteration: 19/20, moves: 438, ncost: 795230098803.4438
Run: 3, iteration: 20/20, moves: 398, ncost: 795011976819.2177
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 20539, ncost: 1612140102183.7708
Run: 4, iteration: 2/20, moves: 5824, ncost: 1442343948161.8535
Run: 4, iteration: 3/20, moves: 5627, ncost: 1328716550598.5706
Run: 4, iteration: 4/20, moves: 5217, ncost: 998788921101.9685
Run: 4, iteration: 5/20, moves: 3677, ncost: 903683903250.6808
Run: 4, iteration: 6/20, moves: 2360, ncost: 867288069526.9441
Run: 4, iteration: 7/20, moves: 1581, ncost: 852682096122.5848
Run: 4, iteration: 8/20, moves: 1698, ncost: 836266260532.9514
Run: 4, iteration: 9/20, moves: 1305, ncost: 820430892140.6748
Run: 4, iteration: 10/20, moves: 917, ncost: 804287349240.0836
Run: 4, iteration: 11/20, moves: 659, ncost: 792991993415.9825
Run: 4, iteration: 12/20, moves: 633, ncost: 789499864479.3407
Run: 4, iteration: 13/20, moves: 569, ncost: 787061378679.3969
Run: 4, iteration: 14/20, moves: 393, ncost: 785162433931.0984
Run: 4, iteration: 15/20, moves: 233, ncost: 785007695330.9688
Run: 4, iteration: 16/20, moves: 143, ncost: 784978279320.3517
Run: 4, iteration: 17/20, moves: 360, ncost: 784780135290.4907
Run: 4, iteration: 18/20, moves: 853, ncost: 783881173883.0497
Run: 4, iteration: 19/20, moves: 588, ncost: 783465237659.7065
Run: 4, iteration: 20/20, moves: 530, ncost: 783138284952.5729
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 15027, ncost: 1164793857928.5896
Run: 5, iteration: 2/20, moves: 7621, ncost: 976775498194.8702
Run: 5, iteration: 3/20, moves: 6120, ncost: 891609472824.8381
Run: 5, iteration: 4/20, moves: 4843, ncost: 857456695735.3689
Run: 5, iteration: 5/20, moves: 4006, ncost: 838925180244.2827
Run: 5, iteration: 6/20, moves: 3522, ncost: 826616824204.8953
Run: 5, iteration: 7/20, moves: 3542, ncost: 816178634458.8921
Run: 5, iteration: 8/20, moves: 2091, ncost: 810654051237.0452
Run: 5, iteration: 9/20, moves: 1340, ncost: 806532720920.3336
Run: 5, iteration: 10/20, moves: 1272, ncost: 804761117201.3273
Run: 5, iteration: 11/20, moves: 1280, ncost: 803543056206.644
Run: 5, iteration: 12/20, moves: 1202, ncost: 802475669831.974
Run: 5, iteration: 13/20, moves: 1590, ncost: 800596968132.4417
Run: 5, iteration: 14/20, moves: 1286, ncost: 798393959534.0148
Run: 5, iteration: 15/20, moves: 1315, ncost: 797475822131.5294
Run: 5, iteration: 16/20, moves: 1066, ncost: 796648862132.2415
Run: 5, iteration: 17/20, moves: 1106, ncost: 795868827236.042
Run: 5, iteration: 18/20, moves: 814, ncost: 795448666321.6848
Run: 5, iteration: 19/20, moves: 438, ncost: 795230098803.4438
Run: 5, iteration: 20/20, moves: 398, ncost: 795011976819.2177
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 16696, ncost: 1586609775350.5864
Run: 6, iteration: 2/20, moves: 9928, ncost: 1376717965863.5996
Run: 6, iteration: 3/20, moves: 6058, ncost: 1079244726386.8267
Run: 6, iteration: 4/20, moves: 5413, ncost: 900104738383.4985
Run: 6, iteration: 5/20, moves: 4974, ncost: 838691871419.9773
Run: 6, iteration: 6/20, moves: 3344, ncost: 816786829350.1473
Run: 6, iteration: 7/20, moves: 1833, ncost: 811656335660.6385
Run: 6, iteration: 8/20, moves: 1312, ncost: 809579831215.7297
Run: 6, iteration: 9/20, moves: 1353, ncost: 807269444794.1881
Run: 6, iteration: 10/20, moves: 1210, ncost: 805173810248.1309
Run: 6, iteration: 11/20, moves: 1652, ncost: 801135532247.6512
Run: 6, iteration: 12/20, moves: 1350, ncost: 799594257603.9084
Run: 6, iteration: 13/20, moves: 1264, ncost: 798692992149.6272
Run: 6, iteration: 14/20, moves: 1052, ncost: 796834879917.5702
Run: 6, iteration: 15/20, moves: 1064, ncost: 795999315652.9939
Run: 6, iteration: 16/20, moves: 773, ncost: 795558769867.8477
Run: 6, iteration: 17/20, moves: 673, ncost: 795250206345.515
Run: 6, iteration: 18/20, moves: 437, ncost: 795011976819.2177
Run: 6, iteration: 19/20, moves: 682, ncost: 794568627501.612
Run: 6, iteration: 20/20, moves: 333, ncost: 794469620818.8286
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 18256, ncost: 1165348627408.7651
Run: 7, iteration: 2/20, moves: 6148, ncost: 991799711981.3999
Run: 7, iteration: 3/20, moves: 4905, ncost: 905952778642.8403
Run: 7, iteration: 4/20, moves: 4087, ncost: 874835984957.2135
Run: 7, iteration: 5/20, moves: 3507, ncost: 850290277420.9187
Run: 7, iteration: 6/20, moves: 3033, ncost: 829846540980.0759
Run: 7, iteration: 7/20, moves: 2551, ncost: 810679373907.3477
Run: 7, iteration: 8/20, moves: 1934, ncost: 797740356622.1117
Run: 7, iteration: 9/20, moves: 1206, ncost: 792458896421.4877
Run: 7, iteration: 10/20, moves: 903, ncost: 789931323184.4667
Run: 7, iteration: 11/20, moves: 889, ncost: 786994724104.023
Run: 7, iteration: 12/20, moves: 835, ncost: 786259786506.9264
Run: 7, iteration: 13/20, moves: 227, ncost: 786205971216.2405
Run: 7, iteration: 14/20, moves: 284, ncost: 785854256742.8501
Run: 7, iteration: 15/20, moves: 349, ncost: 785207663998.261
Run: 7, iteration: 16/20, moves: 283, ncost: 785074713096.6125
Run: 7, iteration: 17/20, moves: 190, ncost: 785006625445.662
Run: 7, iteration: 18/20, moves: 137, ncost: 784978279320.3517
Run: 7, iteration: 19/20, moves: 360, ncost: 784780135290.4907
Run: 7, iteration: 20/20, moves: 853, ncost: 783881173883.0497
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 13608, ncost: 1597645750451.4136
Run: 8, iteration: 2/20, moves: 7729, ncost: 1362327670766.7668
Run: 8, iteration: 3/20, moves: 3397, ncost: 1261559550690.38
Run: 8, iteration: 4/20, moves: 3062, ncost: 1210870517791.9404
Run: 8, iteration: 5/20, moves: 3965, ncost: 1130498779543.9058
Run: 8, iteration: 6/20, moves: 5087, ncost: 1028690031084.8596
Run: 8, iteration: 7/20, moves: 4825, ncost: 897694983626.9896
Run: 8, iteration: 8/20, moves: 4256, ncost: 847969564715.2422
Run: 8, iteration: 9/20, moves: 3413, ncost: 828105875928.9424
Run: 8, iteration: 10/20, moves: 3076, ncost: 811866356013.9994
Run: 8, iteration: 11/20, moves: 2342, ncost: 801177634956.3524
Run: 8, iteration: 12/20, moves: 2106, ncost: 793755500717.6285
Run: 8, iteration: 13/20, moves: 1825, ncost: 790227367262.557
Run: 8, iteration: 14/20, moves: 803, ncost: 789006697745.3857
Run: 8, iteration: 15/20, moves: 685, ncost: 787869187256.4851
Run: 8, iteration: 16/20, moves: 595, ncost: 787091212439.0051
Run: 8, iteration: 17/20, moves: 754, ncost: 786468119943.5403
Run: 8, iteration: 18/20, moves: 492, ncost: 786242193794.1788
Run: 8, iteration: 19/20, moves: 157, ncost: 786204698696.1086
Run: 8, iteration: 20/20, moves: 269, ncost: 785867109098.6877
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 13781, ncost: 1655337666492.408
Run: 9, iteration: 2/20, moves: 6978, ncost: 1488800710181.1682
Run: 9, iteration: 3/20, moves: 6311, ncost: 1283686999373.281
Run: 9, iteration: 4/20, moves: 6341, ncost: 1136181438610.7756
Run: 9, iteration: 5/20, moves: 6052, ncost: 1001488588817.2842
Run: 9, iteration: 6/20, moves: 5165, ncost: 900994969294.657
Run: 9, iteration: 7/20, moves: 4515, ncost: 864765443989.3236
Run: 9, iteration: 8/20, moves: 3905, ncost: 840765461232.5739
Run: 9, iteration: 9/20, moves: 3854, ncost: 826230814286.3969
Run: 9, iteration: 10/20, moves: 3289, ncost: 817623522457.2661
Run: 9, iteration: 11/20, moves: 2155, ncost: 811824052087.8146
Run: 9, iteration: 12/20, moves: 1761, ncost: 805520373622.1816
Run: 9, iteration: 13/20, moves: 1325, ncost: 803624539637.8683
Run: 9, iteration: 14/20, moves: 1298, ncost: 802394146507.3904
Run: 9, iteration: 15/20, moves: 1186, ncost: 801347694977.7399
Run: 9, iteration: 16/20, moves: 1617, ncost: 799480421818.372
Run: 9, iteration: 17/20, moves: 1214, ncost: 798369497560.2366
Run: 9, iteration: 18/20, moves: 1255, ncost: 797519232750.5162
Run: 9, iteration: 19/20, moves: 1118, ncost: 796651959667.3583
Run: 9, iteration: 20/20, moves: 1106, ncost: 795872156689.753
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 13467, ncost: 1249630206350.137
Run: 10, iteration: 2/20, moves: 9335, ncost: 1020228127456.1068
Run: 10, iteration: 3/20, moves: 6746, ncost: 918212235240.0577
Run: 10, iteration: 4/20, moves: 5625, ncost: 850577794827.5306
Run: 10, iteration: 5/20, moves: 4338, ncost: 826402398115.9059
Run: 10, iteration: 6/20, moves: 3590, ncost: 814338762051.4283
Run: 10, iteration: 7/20, moves: 1915, ncost: 810598366420.4445
Run: 10, iteration: 8/20, moves: 1316, ncost: 808220044754.513
Run: 10, iteration: 9/20, moves: 1393, ncost: 805067657198.075
Run: 10, iteration: 10/20, moves: 1280, ncost: 802554516704.7031
Run: 10, iteration: 11/20, moves: 1589, ncost: 800653692921.1825
Run: 10, iteration: 12/20, moves: 1236, ncost: 799473900427.9187
Run: 10, iteration: 13/20, moves: 1341, ncost: 797524199532.0929
Run: 10, iteration: 14/20, moves: 1052, ncost: 796682338148.1484
Run: 10, iteration: 15/20, moves: 1035, ncost: 795928365231.0343
Run: 10, iteration: 16/20, moves: 859, ncost: 795474918413.7399
Run: 10, iteration: 17/20, moves: 490, ncost: 795231436383.1853
Run: 10, iteration: 18/20, moves: 407, ncost: 795011976819.2177
Run: 10, iteration: 19/20, moves: 682, ncost: 794568627501.612
Run: 10, iteration: 20/20, moves: 333, ncost: 794469620818.8286
Best run was number 4

In [70]:
# get cluster centroids
print(kproto.cluster_centroids_)

[['23339.282425852147' '35.45839752102741' '1.6653386454183268'
  '0.31310934041611826' '10532.334218680831' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance, waitingTime]'
  '[db_fv]']
 ['4346.338578252318' '27.550009553245147' '0.3138522056757516'
  '0.054345771284068776' '111.64422590615341' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance, waitingTime]'
  '[db_fv]']
 ['11621.563472490023' '65.45325456257987' '0.674274696201964'
  '0.07931523250078347' '461.40307609524234' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance, waitingTime]'
  '[db_fv]']
 ['18774.89742831806' '54.93632279042076' '0.8740762636712976'
  '0.14057729825598647' '532.5096068578185' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance]' '[db_fv]']
 ['37185.90204808549' '32.58616206589372' '1.7658058771148708'
  '0.3212778272484425' '22493.859305431877' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance, waitingTime]'
  '[db_fv, flixbus]']
 ['57528.029411764706' '28.24242647058601' '1.838235294117647'
  '0.40515441176467076' '41820.51225490196' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance, waitingTime]'
  '[db_fv, flixbus]']
 ['30663.52535404294' '40.81042941982744' '1.306761078117862'
  '0.18544929191412346' '461.9303334856099' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance]' '[flixbus]']
 ['53063.655145326' '30.597831893165505' '1.4328358208955223'
  '0.20124037706205136' '42.22702278083268' 'ptOnly'
  '[travelTime, price, numberofChanges, walkingDistance]'
  '[db_fv, flixbus]']]

In [71]:
# prediction
clusters = kproto.predict(mark_array, categorical=categorical_features_idx)

In [73]:
data_new['cluster'] = list(clusters) #obtain the clusters

In [79]:
cluster_1= data_new[data_new['cluster']== 0]
cluster_1.head(50) #get the results

,totalTravelTimeInSec,totalPrice,totalNumberOfChanges,totalWalkingDistance,totalWaitingTime,finiteAutomaton,consideredPreferences,finalSolutionUsedLabels,cluster
274,27960.0,96.05,2,0.000,16560,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
277,27960.0,96.05,2,0.000,16500,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
283,27960.0,96.05,2,0.000,16500,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
284,20044.0,27.43,2,0.273,6768,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[blablacar, db_fv]",0
286,27960.0,96.05,2,0.000,16500,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
294,27960.0,96.05,2,0.000,16500,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
295,27960.0,96.05,2,0.000,16500,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
707,19231.0,16.39,2,0.617,11409,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
722,19231.0,16.39,2,0.617,11409,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
723,25143.0,23.27,1,0.224,16643,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar]",0
733,16204.0,18.15,2,0.479,10521,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, db_fv]",0
734,19231.0,16.39,2,0.617,11409,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
736,20043.0,29.52,2,0.095,14935,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
741,17883.0,18.39,2,0.374,10236,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
743,19231.0,16.39,2,0.617,11409,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
744,22771.0,16.39,2,0.617,14949,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
745,17883.0,18.39,2,0.374,10236,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
747,20404.0,19.20,2,0.364,13303,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
755,19231.0,16.39,2,0.617,11409,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus, blablacar]",0
1272,13476.0,6.08,1,0.317,10849,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1295,23976.0,6.08,1,0.317,20749,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1296,20376.0,6.08,1,0.317,17209,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1315,17100.0,8.71,1,0.000,15360,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
1317,20376.0,6.08,1,0.317,17209,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1318,17100.0,8.71,1,0.000,15360,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
1330,23976.0,6.08,1,0.317,20749,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1331,20376.0,6.08,1,0.317,17209,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1345,17100.0,8.71,1,0.000,15360,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
1347,20376.0,6.08,1,0.317,17209,noFlights,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, flixbus]",0
1349,17100.0,8.71,1,0.000,15360,noFlights,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
2222,19991.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2223,19391.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2234,19391.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2239,19991.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2243,16920.0,34.80,2,0.191,9103,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
2245,19391.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2246,16920.0,34.80,2,0.191,9103,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
2249,19991.0,29.91,2,0.477,10589,all,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2252,19991.0,29.91,2,0.477,10589,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2253,19391.0,29.91,2,0.477,10589,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2254,18120.0,34.04,3,0.181,9171,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
2270,18120.0,34.04,3,0.181,9171,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
2271,19391.0,29.91,2,0.477,10589,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2277,24120.0,47.17,2,0.000,17640,ptOnly,"[travelTime, price, numberofChanges, walkingDi...",[db_fv],0
2292,24180.0,34.04,3,0.181,15231,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, db_fv]",0
2293,24180.0,32.54,3,0.428,15353,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus, db_fv]",0
2294,24791.0,31.42,3,0.432,14822,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2295,19391.0,29.91,2,0.477,10589,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2296,25091.0,31.42,3,0.432,15122,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus]",0
2297,24180.0,32.54,3,0.428,15353,ptOnly,"[travelTime, price, numberofChanges, walkingDi...","[db_fv, blablacar, flixbus, db_fv]",0

In [80]:
#investigate the group
minvalue = cluster_1[['totalTravelTimeInSec', 'totalWaitingTime']].min()
print("minimum value in column 'totalTravelTimeInSec' & 'totalWaitingTime': ")
print(minvalue)

#Could describe a group as the slow trips with high waiting time

minimum value in column 'totalTravelTimeInSec' & 'totalWaitingTime':
totalTravelTimeInSec    12900.0
totalWaitingTime         4662.0
dtype: float64

In [ ]:
pip install plotly
from tqdm import tqdm
#an elbow plot with cost -takes super long to execute
costs = []
n_clusters = []
clusters_assigned = []

for i in tqdm(range(2, 25)):
    try:
        kproto = KPrototypes(n_clusters= i, init='Cao', verbose=2)
        clusters = kproto.fit_predict(data_new, categorical=[5,6,7])
        costs.append(kproto.cost_)
        n_clusters.append(i)
        clusters_assigned.append(clusters)
    except:
        print(f"Can't cluster with {i} clusters")
        
fig = go.Figure(data=go.Scatter(x=n_clusters, y=costs ))
fig.show()

In [ ]:
#DBscan clustering